:root {
  --bg-primary-color:#eee;

  --txt-primary-color: #333;
  --txt-secondary-color: white;
  --txt-tertiary-color: darkgray;

  --btn-primary-color: aqua;
  --btn-secondary-color: darkslateblue;
  --btn-tertiary-color: orangered;
  --btn-hover-color: blue;
  --btn-active-color: purple;

  --border-color: #777;
}

* {
  box-sizing: border-box;
}

html,
body {  
  margin: 0;
  padding: 0;
  font-size: 18px;
	font-family: Arial, sans-serif;
	color: var(--txt-primary-color);
  background-color: var(--bg-primary-color);
}

header {
  padding: 25px 0;
  margin: 5px 0;
  background-color: var(--bg-primary-color);
  color: var(--txt-primary-color);
}

footer {
  display: flex;
  flex-flow: wrap;  
  font-size: 14px;
  padding: 5px 0 0 0;
  margin-top: 25px;  
  background-color: var(--bg-primary-color);
  color: var(--txt-tertiary-color);
  text-align: left;
  border-top: 1px solid;
}

section {
  padding: 10px;  
}

.container {  
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--bg-primary-color);
  max-height: 100%;
}

.item {
  display: grid;
  grid-template-columns: .8fr;  
  padding: 0;
  margin: 5px auto;
  background-color: var(--bg-primary-color);  
  justify-content: center;
  text-align: center;  
}

.item-container {
  display: grid;
  grid-template-columns: .85fr;  
  justify-content: center;
  background-color: var(--bg-primary-color);
  margin: 5px auto;  
}

.item-container-outer {  
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;  
  margin: 0;
  padding: 0;  
}

.item-container-outer .item-inner {
  border: none;  
}

.item-container-outer #hdrSubTitle {
  align-content: center;
}

.item-container-outer #countDown {
  border: none;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--btn-secondary-color);
  padding: 3px;  
  margin: 1px;
  color: var(--txt-secondary-color);
  border-radius: 3px; 
}

.item-container-outer #quizTitle {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--btn-primary-color);
  margin: 1rem;
}

.item-container-outer #progressScore {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 2px auto;
  width: 100%;
}

.item-container-outer #question {
  display: flex;
  flex-flow: wrap;
  font-size: 1rem;
  font-weight: 600;
  color: var(--btn-secondary-color);
  border: 1px solid var(--border-color);
  border-width: 1px 0;
  padding: 5px 0;
  margin: 5px auto; 
}

.item-container-outer #buttons {
  display: grid;
  grid-template-columns: auto;
  margin: .5rem;
  width: 100%;  
}

.item-container-inner {    
  background-color: var(--bg-primary-color);
  margin: 1.5rem 0 4rem 0;
}

.item-container-inner #progress {
  text-align: left;
  color: var(--txt-tertiary-color);
  font-size: 1rem;
  font-weight: 70;
}

.item-container-inner #currentScore {  
  text-align: right;
  color: var(--txt-tertiary-color);
  font-size: 1rem;
  font-weight: 70;  
}

.item-inner {
  display: grid;
  border-top: 3px solid var(--border-color);
}

.item-inner h1 {
  margin: 0px;  
}

.item-inner-btn #start{
  background-color: var(--btn-primary-color);  
  text-align: left;
  background-color:var(--btn-primary-color);  
  font-size: 1rem;
  color:var(--txt-primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 7px 0; 
  outline: none;
  justify-self: center;
}

.item-container-inner .item-inner-btn {
  background-color: var(--btn-primary-color);  
  text-align: left;
  background-color: var(--btn-primary-color);  
  font-size: 1rem;
  color:var(--txt-primary-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 7px 0; 
  outline: none;  
}

.item-inner-btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
  color: var(--txt-secondary-color);
}

.item-container-inner .item-inner-btn #restart {
  background-color: var(--btn-primary-color);  
  text-align: left;
  background-color:var(--btn-primary-color);  
  font-size: 1rem;
  color:var(--txt-primary-color);  
  border-radius: 5px;
  margin: 7px 0; 
  outline: none;  
}

.item-inner-btn button {
  border: none;  
}

#highScoresBox {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 10px;
}

#highScoresBox .item-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#highScoresContent #scoresTable {
  margin: 5px auto;  
}

#highScoresBox .item-container-inner {
  margin: 5px auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  width: 100%;
}

.item-container #highScoresBoxTitle h1 {
  margin: 0 auto;  
}

 .item-container #score {
  color: black;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 4rem;
}

#userInitials {
  font-size: 1rem;
  color: black;
  margin-bottom: 4rem;  
  padding: 3px;
  align-items: center;
}

.resultBox {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#submit{
	font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: orangered;
  padding: 1rem;
  border-radius: 5px;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: .5rem;
  width: 10rem;
  margin-bottom: 0px;
  cursor: pointer;
}

#submit:hover{
	background-color: blue;
}

.quizRepeat {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;  
  text-align: center;    
  width: 10rem;
  cursor: pointer;  
  background-color: orangered;
  border-image: initial;
  z-index: 9;
  
}

.quizRepeat a {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: orangered;
  padding: 1rem;
  border-radius: 5px;
  width: 10rem;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: black;
  border-style: outset;
  border-color: internal-light-dark(
    rgb(118,118,118),
    rgb(133,133,133));
  transition: all .3s;
}

.quizRepeat a:hover {
  background-color:blue;
}

#view{
	font-size: 1rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: orangered;
  padding: 1rem;
  border-radius: 5px;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: .5rem;
  width: 10rem;
  cursor: pointer;
}

#view:hover{
	background-color: blue;
}

#initials {
  width: 100%;
  font-size: 1.25rem;
  padding: 15px;
  text-align: center;
}

#highScoresBox {
  display: none;
}

@media screen and (min-width: 600px) {
  body {
    width: 80%;
    margin: 0 auto;    
  }
}